{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- ===== CSS ===== -->
    <link rel="stylesheet" href="{% static 'core/css/styles.css' %}">

    <!-- ===== BOX ICONS ===== -->
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

    <!-- ===== TITLE BOX ===== -->
    <title>{% block title %}{% endblock %} | Lily Perera</title>
</head>
<body>
<!--===== HEADER =====-->
<header class="l-header">
    <nav class="nav bd-grid">
        <div>
            <a href="{% url 'home' %}" class="nav__logo">{{ home.name }}</a>
        </div>
        <!-- ===== MENU ===== -->
        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li class="nav__item"><a href="{% url 'home' %}" class="nav__link active">Home</a></li>
                <li class="nav__item"><a href="{% url 'about' %}" class="nav__link">About</a></li>
                <li class="nav__item"><a href="{% url 'skill' %}" class="nav__link">Skills</a></li>
                <li class="nav__item"><a href="{% url 'portfolio' %}" class="nav__link">Portfolio</a></li>
                <li class="nav__item"><a href="{% url 'contact' %}" class="nav__link">Contact</a></li>
            </ul>
        </div>

        <div class="nav__toggle" id="nav-toggle">
            <i class='bx bx-menu'></i>
        </div>
    </nav>
</header>

<!--===== MAIN =====-->
<main class="l-main">
    <!--===== HOME =====-->
    {% block section_home %}
        <section class="home" id="home">
            <div class="home__container bd-grid">
                <h1 class="home__title"><span>{{ home.greetings_1 }}</span><br>{{ home.greetings_2 }}!</h1>

                <div class="home__scroll">
                    <a href="#about" class="home__scroll-link"><i class='bx bx-up-arrow-alt'></i>Scroll down</a>
                </div>

                <img src="{{ home.picture.url }}" alt="" class="home__img">
            </div>
        </section>
    {% endblock %}


    <!--===== ABOUT =====-->
    {% block section_about %}

    {% endblock %}


    <!--===== SKILLS =====-->
    {% block section_skills %} {% endblock %}


    <!--===== PORTFOLIO =====-->
    {% block section_portfolio %}

    {% endblock %}


    <!--===== CONTACT =====-->
    {% block section_contact %}

    {% endblock %}

</main>
<!--===== FOOTER =====-->
<footer class="footer section">
    <div class="footer__container bd-grid">
        <div class="footer__data">
            <h2 class="footer__title">LILY PERERA</h2>
            <p class="footer__text">I'm Lily Perera and this is my Personal Website</p>
        </div>

        <div class="footer__data">
            <h2 class="footer__title">EXPLORE</h2>
            <ul>
                <li><a href="#home" class="footer__link">Home</a></li>
                <li><a href="#about" class="footer__link">About</a></li>
                <li><a href="#skills" class="footer__link">Skills</a></li>
                <li><a href="#portfolio" class="footer__link">Portfolio</a></li>
                <li><a href="#Contact" class="footer__link">Contact</a></li>
            </ul>
        </div>

        <div class="footer__data">
            <h2 class="footer__title">FOLLOW</h2>
            <a href="#" class="footer__social"><i class='bx bxl-facebook'></i></a>
            <a href="#" class="footer__social"><i class='bx bxl-instagram'></i></a>
            <a href="#" class="footer__social"><i class='bx bxl-twitter'></i></a>
        </div>


    </div>
</footer>


</body>
</html>